.edge {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: cornflowerblue;
    stroke: gray;
    stroke-width: 1.5px;
}

.hide {
    display: none;
}

.node text{
    font: 10px sans-serif;
    text-anchor: middle;
}

.node circle.testsuite {
    fill: green;
}

.node circle.module {
    fill: black;
}

.node circle.test{
    fill: yellow;
}

p.label {
    font: 10px Century Gothic;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 240px;
}

#dashboard div{
    width: 30%;
}